@import 'tailwindcss';

@theme {
  /* Al poner --color-*, Tailwind v4 crea automáticamente las clases de texto, fondo, etc. */
  --color-olive-dark: var(--olive-dark);
  --color-olive: var(--olive);
  --color-olive-light: var(--olive-light);

  --color-cream: var(--cream);
  --color-cream-2: var(--cream-2);

  --color-rust: var(--rust);
  --color-rust-dark: var(--rust-dark);

  --color-navy: var(--navy);
  --color-ink: var(--ink);
  --color-line: var(--line);
  --color-white: var(--white);

  --background-image-grain: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='2' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.05'/%3E%3C/svg%3E");
}

:root {
  /* Tus variables originales nativas de CSS */
  --olive-dark: #454f2e;
  --olive: #5c6a3d;
  --olive-light: #71804f;
  --cream: #f6f1e2;
  --cream-2: #efe8d4;
  --rust: #a8442c;
  --rust-dark: #7c3020;
  --navy: #31456b;
  --ink: #2c2e1f;
  --line: rgba(255, 255, 255, 0.28);
  --white: #ffffff;
}

body {
  background-color: var(--cream);
}
